body,
html,
#root {
  background-color: #f0f0f0;
}

.calendar {
  height: 100%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  transition: 0.1s;
  position: relative;
  overflow: hidden;
}

.width80Percent {
  width: 80%;
}

.width100Percent {
  width: 100%;
}

.calendar .calendarHeader {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #000;
  padding: 1%;
  gap: 2%;
}

.calendar
  .calendarHeader
  input[type="date"]:required:invalid::-webkit-datetime-edit {
  color: transparent;
}

.calendar .calendarHeader input[type="date"]:focus::-webkit-datetime-edit {
  color: black !important;
}

.calendar .calendarHeader input[type="date"]:focus {
  outline: none;
}

.calendar .calendarHeader input {
  border: none;
  width: 2vw;
  font-size: 2vw;
}

.calendar .calendarHeader .todayBtn {
  border: 0.1px solid #bbb;
  padding: 1%;
  border-radius: 5px;
  text-align: center;
  width: 10%;
  cursor: pointer;
}

.calendar .calendarHeader .prev,
.calendar .calendarHeader .next {
  cursor: pointer;
}

.calendar .weekdays {
  display: flex;
  background-color: #ddd;
  padding: 1% 0;
  font-size: 1vw;
}

.calendar .weekdays div {
  flex: 1;
  text-align: center;
  font-weight: bold;
  color: #555;
}

.calendar .days {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.calendar .calendarFooter {
  font-size: 20px;
  position: absolute;
  right: 1%;
  top: 2%;
  cursor: pointer;
}

@media (max-width: 1000px) {
  .calendar {
    width: 100%;
    font-size: 2.5vw;
    overflow-y: auto;
  }
  .calendar .weekdays {
    display: none;
  }
  .calendar .days {
    width: 100%;
  }
  .calendar .calendarHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8%;
  }
  .calendar .calendarHeader input {
    width: 5vw;
    font-size: 5vw;
  }
  .calendar .calendarFooter {
    display: none;
  }
}
