body,
html,
#root {
  background-color: #f0f0f0;
}
.calendarViewDiv {
  padding: 1% 1.5%;
  height: 110vh;
  width: 98vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2%;
  background-color: #f0f0f0;
  user-select: none;
}

.calendarViewDiv .eventInfoDiv {
  background-color: #fff;
  height: 100%;
  border-radius: 10px;
  transition: 0.1s;
  overflow: hidden;
}

.calendarViewDiv .showEventInfoDiv {
  width: 25%;
}

.calendarViewDiv .hideEventInfoDiv {
  width: 0%;
}

@media (max-width: 1000px) {
  .calendarViewDiv {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 0;
  }
  .calendarViewDiv .eventInfoDiv {
    width: 0%;
  }
}
