.patternSelectionDiv {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 10px;
}

.dropdown {
  width: 30%;
}

@media (max-width:600px){
  .dropdown{
    width:75%;
  }
}
