#loginDiv {
    width: 500px;
    height: 500px;
    margin: 10% auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    padding: 50px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#loginDiv form {
    width: 100%;
}

#loginDiv .title {
    font-size: 25px;
    margin: 30px;
}

#loginDiv .signupLinkDiv {
    margin: 20px;
    font-size: 15px;
}

#loginDiv .signupLinkDiv span {
    letter-spacing: 0.5px;
}

#loginDiv .signupLinkDiv .signupLink {
    color: #28a745;
    font-weight: 600;
    cursor: pointer;
    user-select: none;
    text-decoration: none;
}