.day {
  width: calc(100% / 7);
  min-height: calc(100% / 6);
  text-align: start;
  box-sizing: border-box;
  cursor: pointer;
  border: 1px solid #eee;
  font-size: 1vw;
}

.day .eventBar {
  width: 100%;
  height: 3.5vh;
  background-color: #b2d7f4;
  color: #000;
  border-radius: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.day .eventBar div {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.day .eventBar span {
  margin-right: 10px;
}

.day .eventCountBar {
  width: 100%;
  height: 20%;
  background-color: #e5e5e5;
  color: #000;
  border-radius: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.day .eventBar::before {
  content: "";
  position: relative;
  display: inline-block;
  min-width: 0.5vw;
  height: 100%;
  background-color: #1181da;
  top: 0%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-right: 5px;
}

.day > span {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-left: 5px;
  margin-top: 5px;
  width: 20px;
  height: 20px;
  padding: 1px;
  font-size: 0.9vw;
  border-radius: 50%;
}

.today > span {
  background-color: #0078d7;
  color: #fff;
}

.selected {
  border: 1px solid #0078d7;
  color: #000;
}

.empty {
  background-color: transparent;
  cursor: default;
}

.day:hover {
  background-color: #f0f0f0;
}

@media (max-width: 1000px) {
  .day {
    width: 100%;
    font-size: 2.5vw;
    overflow-y: auto;
  }
  .day .eventBar{
    height: 5vh;
  }
  .day .eventBar::before{
    width: 1.5vw;
  }
  .day > span{
    margin:2vw;
    font-size: 2.5vw;
  }
  .today > span{
    width: 5vw;
    height: 5vw;
    font-size: 2.5vw;
  }
  .empty{
    display: none;
  }
}
