.eventAddDiv {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;
}

.eventAddDiv .addDiv {
    width: 65%;
    background-color: #fff;
    margin: 20px;
    border-radius: 15px;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    padding: 30px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px,
        rgba(17, 17, 26, 0.1) 0px 8px 24px,
        rgba(17, 17, 26, 0.1) 0px 16px 48px;
}

.eventAddDiv .addDiv .stringInput {
    width: 100%;
    border: none;
    border-bottom: 1px solid #000;
    margin: 15px;
    padding: 10px;
    font-size: 18px;
}

.eventAddDiv .addDiv .textarea {
    width: 100%;
    margin: 15px;
    padding: 10px;
    font-size: 18px;
    border-bottom: 1px solid #000;
}

.eventAddDiv .addDiv input:focus {
    outline: none;
}

.eventAddDiv .addDiv .dateTimeInputDiv {
    width: 100%;
}

.eventAddDiv .addDiv .frequencySelectionDiv {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 30px;
}

.eventAddDiv .addDiv .addEventBtn {
    background-color: #fff;
    padding: 10px;
    width: 100px;
    border-radius: 5px;
    border: 1px solid rgb(18, 113, 230);
    color: rgb(18, 113, 230);
    margin: 30px;
    position: relative;
    padding-left: 40px;
    transition: .5s;
}

.eventAddDiv .addDiv .addEventBtn::before {
    content: '\e161';
    font-family: 'Material Symbols Outlined';
    position: absolute;
    left: 0;
    top: 0;
    font-size: 30px;
    transition: .5s;
    padding-left: 10px;
    padding-right: 10px;
}

.eventAddDiv .addDiv .addEventBtn:hover {
    background-color: rgb(18, 113, 230);
    color: #fff;
}

.eventAddDiv .addDiv .addEventBtn:hover::before {
    color: #fff;
}

.eventAddDiv .timelineDiv {
    width: 25%;
    background-color: #fff;
    border-radius: 40px;
    height: 100vh;
}