.patternSelectionDiv {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.radioBtn {
  margin-right: 20px;
}

.dropdown {
  width: 30%;
}

@media (max-width: 600px) {
  .dropdown {
    width: 75%;
  }
}
