.timelineDiv {
  box-sizing: border-box;
  width: 30%;
  background-color: #fff;
  border-radius: 10px;
  height: 80vh;
  margin: 10px;
  padding: 2% 1%;
}

.timelineDiv .header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  width: 100%;
  height: 5%;
  margin-bottom: 10%;
}

.timelineDiv .header .control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.timelineDiv .header .monthName {
  user-select: none;
  width: 200px;
}

.timelineDiv .header .todayBtn,
.timelineDiv .header .prev,
.timelineDiv .header .next {
  cursor: pointer;
  user-select: none;
}

.timelineDiv .timelineBody {
  height: 90%;
  overflow-y: auto;
  user-select: none;
}

.timelineDiv .timelineBody .hourDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 50px;
  width: 100%;
  font-size: 1vw;
}

.timelineDiv .timelineBody .hourDiv .hourValue {
  position: relative;
  width: 25%;
  height: 100%;
  padding: 2px;
}

.timelineDiv .timelineBody .hourDiv .colorDiv {
  width: 100%;
  height: 100%;
}

.timelineDiv .timelineBody .hourDiv .hourValue::before {
  content: "";
  position: absolute;
  right: 0;
  height: 100%;
  width: 1px;
  background-color: #ccc;
  transform: rotate(180);
}

.timelineDiv .timelineBody .hourDiv .filled {
  background-color: #aaaaaa;
  color: #fff;
}

.timelineDiv .timelineBody .hourDiv .overlapFilled {
  background-color: red;
  color: #fff;
}

.timelineDiv .timelineBody .hourDiv .filledCurrent {
  position: relative;
  background-color: #48c471;
  color: #fff;
  cursor: ns-resize;
}

.timelineDiv .timelineBody .hourDiv::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #ccc;
}

@media (max-width: 1000px) {
  .timelineDiv {
    width: 100%;
  }
  .timelineDiv .timelineBody .hourDiv {
    font-size: 3vw;
  }
}
