.draggableDiv {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  flex-wrap: warp;
  height: 40%;
  width: 350px;
  background-color: #fff;
  border-radius: 10px;
  gap: 10px;
  padding-top: 1%;
  padding-bottom: 1%;
}

.draggableDiv .header{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
}

.draggableDiv .header .headerIcon {
  position: absolute;
  right: 10px;
  top: 0;
  cursor: pointer;
}

.draggableDiv .header .title {
  color: #1181da;
}

.draggableDiv .draggableDivContent {
  min-width: 100%;
  padding: 20px;
  overflow-y: auto;
}
